doctype html
html(lang='en')
    head
        title Crime check
        meta(charset='UTF-8')
        meta(name='MSU - Computer Science', content='CSC690 - Internet programming')
        meta(name='Author', content='Hai Duong and Normandy Rivver')
        link(rel='stylesheet', href='../css/style.css')
    body
        div
            img(src='../Images/title.gif', alt='Crime check website')
        p
        // Insert a blank line here
        .sidenav
            a(href='/') Home
            a(href='/state') Search by States
            a(href='/about') About
            a(href='javascript: back()') Back
        .main
            h2 About us:
            p This is the Final Project - CSC 365 - Internet Programming
            p Subject: US Crimes report API
            p Instructor: Nicholas Jaross 
            p Students in group:   
            p Normandy Rivver   
            p Hai Duong  
                

        #text_center Copyright (C) by Normandy Rivver and Hai Duong 2018. All right reserved.
        script(src='../js/crime.js')
        script(src='../js/submit_info.js')
