doctype html
html(lang='en')
    head
        title Crime check
        meta(charset='UTF-8')
        meta(name='MSU - Computer Science', content='CSC690 - Internet programming')
        meta(name='Author', content='Hai Duong and Normandy Bryson')
        link(rel='stylesheet', href='../css/style.css')
    body
        div.form-group
             a.btn.btn-info(href='/auth/twitter') Twitter